.index-image{
    display: flex;
    background-image: url(../images/hero-image.png); 
    background-size:cover;
    background-repeat: no-repeat;
    height: 90vh;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}

.container{
    background-color: rgba(248, 247, 236, 0.5);

    .gray-button-2{
        display: flex;
        width: 20%;
        background-color: #7C7474;
        color: $white;
        margin-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-top: 2%;
        @include full-center-align;
    
        h2{
            @include full-center-align;
            font-size: 1.125rem;
        }
    }
}

.gray-button{   
    background-color:#7C7474 ;
    color: $white;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
    h2{
        font-size: .688;
    }
}

.gray-box{
    display: flex;
    width: 40%;
    height: 60%;
    margin-top: 15%;
    margin-right: 5%;
    margin-bottom: 10%;
    background-color:#7C747430;
    color: $white;
    flex-direction: column;
    @include full-center-align;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h1{
        margin-top: 5%;
        font-size: 3rem;
    }
    .gray-text-box{   
        width: 90%;
        margin: 5%;
        font-size: 1.5rem;
    }
}

.index-second-half{
    display: flex;
    flex-direction: column;
    width: 100vw;

    .headline-3{
        display: flex;
        width: 100%;
        font-size:2.25rem;
        @include full-center-align;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .offer-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        @include full-center-align;

        .image-column{
            display: flex;
            flex-direction: row;
            width: 80%;
            margin-left: 10%;
            margin-right: 5%;
            @include full-center-align;

            img{
                margin-right: 5%;
            }
        }
        
        .text-column{
            display: flex;
            flex-direction: row;
            width: 65%;
            @include full-center-align;
            margin-top: 1%;

            h3{
                font-size: 1.5rem;
            }
            p{
                font-size: 1.125rem;
            }

     
            .offer-text{
                margin-left: 5%;
                margin-bottom:5%;
            }
        }
    }
}
