<<<<<<< HEAD
$background: linear-gradient(90deg, rgba(56,0,61,1) 0%, rgba(0,254,130,1) 100%);

body{
    background: $background;
=======
$background: linear-gradient(90deg, rgba(56,0,61,1) 0%, rgba(0,254,130,1) 100%);

body{
    background: $background;
>>>>>>> 2cd1dd1aab665f5ea63a935a9e72a936bf419dcd
}