$center: center;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$color: white;
$abs: absolute;
$right: 16px;

body{
    color: $color;
    text-align: $center;
    font-family: $font;
}

.CPR{
    position: $abs;
    bottom: 60px;
    right: $right;
}

.Credits{
    position: $abs;
    bottom: 20px;
    right: $right;
}

a:link, a:visited {
    color: $color;
    text-decoration: none;
}