@import '_responsivity.scss';
@import '_positioning.scss';

body{
    background-color: #353535 !important;
}

p{
    color: white;
    font-size: 45px;
}


#slideshow{
    width: 960px;
    height: 540px;
    margin: auto;
    bottom: 0px;
}