@import '_positioning.scss';
@import '_responsivity.scss';

body{
    background-color: #353535 !important;
}

p{
    color: white;
    font-size: 45px;
}

.avatar{
    height: 512px;
    width: 512px;
}