body{
    background: rgb(56,0,61);
    background: linear-gradient(90deg, rgba(56,0,61,1) 0%, rgba(0,254,130,1) 100%);
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.CPR {
    position: absolute;
    bottom: 45px;
    right: 16px;
}

.Credits{
    position: absolute;
    bottom: 10px;
    right: 16px;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    body{
        align-content: center;
    }
    .CPR{
        font-size: small;
    }
    .Credits{
        font-size: small;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px){
    body{
        font-size: large;
        align-content: center;
    }
}

@media only screen and (min-width: 1000px) {
    body{
        font-size: larger;
    }
    form{
        align-items: center;
    }
}
